<!DOCTYPE html>
<html>
  <head>
    <title>
      himangis first project
    </title>
    <style>
      h1{
        font: size; 40px;font-family: Roboto; font-weight: normal;color:rgb(140,0,0)
        
      }
    </style>
  </head>

  <body>
    <h1>
      hima
    </h1>
    <img src="https://himangi-1--himangi-agrawa2.repl.co/static/hel.JPG" height="200" width="4000" alt="my pic">
    <h2>
      about us 
    </h2>
    <p>
      WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5000
 * Running on http://172.31.196.12:5000
Press CTRL+C to quit
 * Restarting with stat
 * Debugger is active!
 * Debugger PIN: 103-876-679
172.31.196.1 - - [21/Sep/2023 19:22:59] "OPTIONS * HTTP/1.1" 404 -
172.31.196.1 - - [21/Sep/2023 19:22:59] "OPTIONS * HTTP/1.1" 404 -
172.31.196.1 - - [21/Sep/2023 19:22:59] "GET / HTTP/1.1" 200 -
172.31.196.1 - - [21/Sep/2023 19:22:59] "GET / HTTP/1.1" 200 -
172.31.196.1 - - [21/Sep/2023 19:22:59] "GET /himangi-1.himangi-agrawa2.repl.co/static/hel.JPG HTTP/1.1" 404 -

    </p>
  </body>
 <body> <div>
      {% for job in jobs %}
   {% include 'jobitem.html' %}
      {% endfor %}
    </div>
 </body>
</html>