<!DOCTYPE html>
<html>
  <div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
    
<body>
    <h2> templating synatx , to insert dynamic data into your html
    </h2>
   
      <div>
        
        <h4 style="margin-bottom:3px">{{job['title']}}
        </h4>
         <div> {{job['location']}}</div>
        <div><h4 style="margin-bottom:3px; margin-top:1px"> salary:
      {{job['salary']}}
        </h4>
    </div> 
      </div>
  <button type="button" class="btn btn-outline-primary"  >apply</button>
     
    
  </body> <div class="text-center">
  </div>
    </html>